:root {
  --blue-medium: #1f4068;
  --blue-dark: #001f40;
}

.footer-wrapper {
  	min-width: 500px;
background: var(--blue-dark);
  background: linear-gradient(
    135deg,
    var(--blue-dark) 0%,
    var(--blue-medium) 100%
  );

}

.Icon {
	width: 400px;

}
.Icon > a {
	margin-right: 40px;
	color: white;
}
.logo {
	padding-top: 40px;
}

.Useful-Link > a {
	display: flex;
	flex-direction: column;
	color: rgba(213, 213, 213, 0.6);
	text-decoration: none;
	margin-bottom: 10px;
}
.Useful-Link > a:hover {
	text-decoration: underline;
	color: white;
	transition: all 0.4s ease;
}
.titlee {
	padding-top: 35px;
	color: white;
}
.Contact-Info > p {
	display: flex;
	flex-direction: column;
	color: rgba(213, 213, 213, 0.6);
}
.Contact-Info {
	padding-bottom: 50px;
}
